<div class="container" id="container" #container>
  <div
    id="zoom"
    (mousedown)="handleMouseDown($event)"
    (mouseup)="handleMouseUp()"
    (mousemove)="handleMouseMove($event)"
    (wheel)="handleWheel($event)"
  >
    <img src="assets/dembird.png" alt="hello" class="imagee" id="ide" #ide />
  </div>

  <ng-container *ngFor="let marker of markerArray">
    <app-marker-point
      [imageView]="imageView"
      [image]="imageDimension"
      [containerView]="containerView"
      [container]="containerDimension"
      [scaleFactor]="scale"
      [imageLeft]="marker.x"
      [imageTop]="marker.y"
    ></app-marker-point>
  </ng-container>
</div>
