:host {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 95vh;
}

.container {
  height: 500px;
  width: 500px;
  background-color: lightblue;
  overflow: hidden;
  border: 0.2rem solid;
}

.marker {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.marker.visible {
  display: block;
}

////

#zoom {
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  cursor: grab;
}

#zoom img {
  max-width: 500px;
  max-height: 500px;
}
