<div class="container" id="container" #container_ref>
  <div
    id="bound"
    (mousedown)="handleMouseDown($event)"
    (mouseup)="handleMouseLeave()"
    (mouseleave)="handleMouseLeave()"
    (mousemove)="handleMouseMove($event)"
    (wheel)="handleWheel($event)"
  >
    <img src="assets/dembird.png" alt="demeritbird" id="image_ref" #image_ref />
  </div>

  <ng-container *ngFor="let marker of markerArray">
    <app-marker-point
      [imageView]="imageView"
      [image]="imageDimension"
      [containerView]="containerView"
      [container]="containerDimension"
      [zoomFactor]="zoomFactor"
      [posImageToMarkerDist]="{ x: marker.x, y: marker.y }"
    ></app-marker-point>
  </ng-container>
</div>
